<div class="container">
<div class="row">
	<div class="col-8">
		<img class="img-fluid" src="assets/{{id}}1.{{ext}}"/>
	</div>
</div>
<br/>
<p ng-if="id === 'bio'">
	<span class="emphasis">Dorsey Bromwell Kaufmann</span> actively challenges interdisciplinary boundaries by investigating the parallels and intersections between art, science, and policy. She has danced her entire life and regularly employs choreography in her work through time-based media, such as video, animation, and live 3-D installations. 
	<br/><br/>
	Dorsey has received numerous awards for her artwork, including the University of Arizona School of Art’s Marcia Grand Centennial Sculpture Award, the UA College of Fine Art’s Medici Scholar Award, and the French National Center’s Interdisciplinary and Global Environmental Studies Student Award. She has presented her work at Biosphere 2, Tucson Museum of Contemporary Art, Arts in the Public Sphere National Conference in Boston, MA, and Arts Environments National Conference in Athens, GA, for the College Art Association in New York and Los Angeles, and has published in the International Journal of Science Education.
	<br/><br/>
	She is an MFA candidate in Illustration and Design at the School of Art at the University of Arizona and works in Dr. Ramírez-Andreotta’s Integrated Environmental Science and Health Risk Laboratory as an Information Designer.
</p>
<p ng-if="id === 'ripple-effect'">
	<span class="bold">Ripple Effect</span> utilizes technology to compose sonic translations of groundwater quality contamination data captured in three counties in Arizona that are in close proximity to mining activity.  
</p>
<p ng-if="id === 'body-without-organs'">
	<span class="bold">The Body without Organs</span> is a performance piece in collaboration with Jesus Solis, in which we are exploring levels of state authority and how it is exerted on individuals in the U.S. political system. 
</p>
<p ng-if="id === 'lost-in-translation'">
	<span class="bold">Lost in Translation</span> is a video art piece that presents the forms of human bodies in constant flux, in perpetual actions and reactions. The figures are tangled in the colors of the U.S. flag, so that their identity beneath cannot be detected. The nationalist colors are what constrains and suffocates the human forms, acting as a barrier to the two bodies reaching an understanding or point of connection, as they surrender their individual identity to mutual totality. The space in between the shifting forms represents a blatant gap in communication, where wasted breathe and repetitive phrases are lost in translation.
</p>

<p ng-if="id === 'animus'">
	“I exist, therefore I am violent” - Huey P. Newton<br/>
	<span class="bold">Animus</span> examines violence as an inescapable facet of existence. From the onset of the most violent action in our perceivable universe, the big bang, to the micro collisions and tension within our own bodies; violence has been an omnipresent force in our existence – a force of creation and subjugation. The video and the sculpture serve as a lens through which the human mind perceives the state of existence surrounding itself.
</p>
<p ng-if="id === 'speak'">
	<span class="bold">Speak</span> is an immersive installation with audio and video projected into a sea of 300 needles hung by thread. Sixty (1 of every 5) of the threads are red. Women across campus were invited to walk through the installation while listening to the audio, which contained various accounts from young women about their transition to womanhood and understanding their own sexuality.
</p>
<p ng-if="id === 'cryptic'">
	<span class="bold">Cryptic, Embedded</span> uses 3D software to map video footage of violent encounters in which power is abused by authority figures, such as police brutality cases and senseless attacks on women. The forms are deconstructed by removing the video footage and focusing on the motion exchanged and how the bodies react to one another in space throughout time. Through this method of abstraction, a movement language is revealed across the various cases that channels our innate ability to recognize which form is the attacker and which one is the victim, even when they have lost all human characteristics. 
</p>
<p ng-if="id === 'change-skins'">
	<span class="bold">I Want to Change Skins</span> features a live recording of the artist as the performer.  
	“My body in performance interacts with the projection of my body in performance. Every action that I complete in real time is layered onto the projection, so that no previous action is erased.” The audio contains a recording of a Pentecostal clergyman speaking in tongues, or glossalias, which is layered over rhythmic breathing and humming. The female body conducts its own ritualistic dance as it is layered, detached, and rearranged by it’s limbs in the video projection.  
</p>
</div>