<div class="row">
<div class="col-6">
	<h3>
		Education
	</h3>
	<p>
		2020 (In progress) M.F.A. in Illustration and Design
University of Arizona

2015 B.F.A. with an Emphasis in Graphic Design
University of Nebraska-Lincoln
Fulfilled all requirements for Dance Minor
	</p>

	<h3>
		Awards and Fellowships
	</h3>
	<p>
		2019		Fine Arts Graduate College Fellowship
2018		Marcia Grand Centennial Sculpture Prize
		Albert M Haldeman Illustration and Design Scholarship
		French National Center’s  Interdisciplinary &amp;
		Global Environmental Studies Award
		Medici Scholar Award 
2017		A2RU Student Challenge Grant
		Edward Francis Dunn Scholarship
		Medici Scholar Award 
		Illustration and Design Awards | 10 pieces selected
	</p>

	<h3>
		Residencies
	</h3>
	<p>
		2018		Biosphere E-Steam residency, Tucson, AZ
		Playa Artist and Science Residency, Summerlake, OR
	</p>
</div>

<div class="col-6">
	<h3>
		Solo Exhibitions
	</h3>
	<p>
		2019		(Upcoming) Ripple Effect, Duderstadt Gallery - Ann Arbor, MI
2018		Ripple Effect, Biosphere 2 - Tucson, AZ
		Ripple Effect, Bullion Plaza Cultural Museum - Globe, AZ
	</p>
	<h3>
		Selected Group Exhibitions
	</h3>
	<p>2019		(Upcoming) The Body without Organs, Subspace - Tucson, AZ
		College Art Association’s Annual Screening - New York City, NY
2018		College Art Association’s Annual Screening - Los Angeles, CA
		Animus, The Boathouse Gallery - Tucson, AZ
		Film Festival, Museum of Contemporary Art - Tucson, AZ
2017		Blink Twice, Loft Cinema - Tucson, AZ
		Collect, Recollect, Steinfeld Warehouse Community Arts Center, 
		-Tucson, AZ
		Until the End of the World, Exploded View - Tucson, AZ
		Precarious, Lionel-Rombach Gallery, University of Arizona, 
		- Tucson, AZ
		Symbiosis: An Exhibition of Biological Art, ENR 2, University 
		of Arizona -Tucson, AZ
		On the Same Boat, The Boathouse Gallery - Tucson, AZ
		Cinco or Swim, Graduate Gallery, University of Arizona,
		-Tucson, AZ
		My Big Boat Show, ​The Boathouse Gallery - Tucson, AZ
		Infuse Performance, Dusty Monk - Tucson, AZ</p>
</div>
</div>
<div class="row">
	<div class="col-12">
		<h3>
			Talks, Lectures, &amp; Events
		</h3>
		<p>
		2019		(Upcoming) Corpus: Aesthetics After Biopolitics Art History Symposium - Tucson, AZ
		(Upcoming) Water Resources Research Center Seminar - Tucson, AZ
		(Upcoming) Exhibition video airing live on ESTE(+a)M Connect - San Diego, CA
2018		Speaker at the A2RU Arts Environments National Conference - Athens, GA 
		KXCI Interview, “Thesis Thursdays” - Tucson, AZ
		Navigating Your Path Toward an Interdisciplinary Career A2RU Webinar - Tucson AZ
		Speaker at A2RU Arts in the Public Sphere National Conference - Boston, MA
		Speaker at University of Arizona Superfund Research Program Professional Development - Tucson, AZ
		Speaker at the Pima County Environment Observatory Conference - Tucson, AZ
2017		Art/Design Coordinator for the Tucson Science March
		Art/Design Coordinator for the March for Our Lives - Tucson, AZ
		Infuse Coordinator for the School of Art - Tucson, AZ
		ENVS 415/515: Translating Environmental Science, Guest Lecture - Tucson, AZ
		ENVS 696P Seminar: Hazardous Waste Risk and Remediation in the US Southwest, Guest Lecture - Tucson, AZ
	</p>
	</div>
</div>
<div class="row">
	<div class="col-12">
		<h3>Teaching Experience</h3>
	</div>
	<div class="col-6">
		<p>

			Instructor of Record, University of Arizona
2018		ART 306B Intro to Animation
		ART 265 Intro to Graphic Design
2017		ART 462F Infographics
		</p>
	</div>
	<div class="col-6">
		<p>
			Graduate Teaching Assistant, University of Arizona
2017		ART 306B Intro to Animation
2016		ART 265 Intro to Graphic Design
		FYE Foundations Course
		</p>
	</div>
</div>
