<div class="row">
<div class="col-6">
  <h4>
    Education
  </h4>

  <table>
    <tr>
      <td valign="top" width="60">2020</td>
      <td valign="top">
        M.F.A. in Illustration and Design
        <br/>University of Arizona
      </td>
    </tr>
    <tr>
      <td valign="top">2015</td>
      <td valign="top">
        B.F.A. with an Emphasis in Graphic Design
        <br/>University of Nebraska-Lincoln
        <br/>Fulfilled all requirements for Dance Minor
      </td>
    </tr>
  </table>

  <h4>
    Awards and Fellowships
  </h4>
  <table>
    <tr>
      <td valign="top" width="60">2019</td>
      <td valign="top">Fine Arts Graduate College Fellowship</td>
    </tr>
    <tr>
      <td valign="top">2018</td>
      <td valign="top">
        Marcia Grand Centennial Sculpture Prize
        <br/>Albert M Haldeman Illustration and Design Scholarship
        <br/>French National Center’s  Interdisciplinary &amp;
        <br/>Global Environmental Studies Award
        <br/>Medici Scholar Award
      </td>
    </tr>
    <tr>
      <td valign="top">2017</td>
      <td valign="top">
        A2RU Student Challenge Grant
        <br/>Edward Francis Dunn Scholarship
        <br/>Medici Scholar Award 
        <br/>Illustration and Design Awards | 10 pieces selected
      </td>
    </tr>
  </table>

  <h4>
    Residencies
  </h4>
  <table>
    <tr>
      <td valign="top" width="60">2018</td>
      <td valign="top">
        Biosphere E-Steam residency, Tucson, AZ
        <br/>Playa Artist and Science Residency, Summerlake, OR
      </td>
    </tr>
  </table>
</div>

<div class="col-6">
  <h4>
    Solo Exhibitions
  </h4>
  <table>
    <tr>
      <td valign="top" width="60">2019</td>
      <td valign="top">(Upcoming) Ripple Effect, Duderstadt Gallery - Ann Arbor, MI</td>
    </tr>
    <tr>
      <td valign="top">2018</td>
      <td valign="top">
        Ripple Effect, Biosphere 2 - Tucson, AZ
        <br/>Ripple Effect, Bullion Plaza Cultural Museum - Globe, AZ
      </td>
    </tr>
  </table>


  <h4>
    Selected Group Exhibitions
  </h4>

  <table>
    <tr>
      <td valign="top" width="60">2019</td>
      <td valign="top">
        (Upcoming) The Body without Organs, Subspace - Tucson, AZ
        <br/>College Art Association’s Annual Screening - New York City, NY
      </td>
    </tr>
    <tr>
      <td valign="top">2018</td>
      <td valign="top">
        College Art Association’s Annual Screening - Los Angeles, CA
        <br/>Animus, The Boathouse Gallery - Tucson, AZ
        <br/>Film Festival, Museum of Contemporary Art - Tucson, AZ
      </td>
    </tr>
    <tr>
      <td valign="top">2017</td>
      <td valign="top">
        Blink Twice, Loft Cinema - Tucson, AZ
        <br/>Collect, Recollect, Steinfeld Warehouse Community Arts Center - Tucson, AZ
        <br/>Until the End of the World, Exploded View - Tucson, AZ
        <br/>Precarious, Lionel-Rombach Gallery, University of Arizona - Tucson, AZ
        <br/>Symbiosis: An Exhibition of Biological Art, ENR2, University of Arizona - Tucson, AZ
        <br/>On the Same Boat, The Boathouse Gallery - Tucson, AZ
        <br/>Cinco or Swim, Graduate Gallery, University of Arizona - Tucson, AZ
        <br/>My Big Boat Show, ​The Boathouse Gallery - Tucson, AZ
        <br/>Infuse Performance, Dusty Monk - Tucson, AZ
      </td>
    </tr>
  </table>

</div>
</div>
<div class="row">
  <div class="col-12">
    <h4>
      Talks, Lectures, &amp; Events
    </h4>

    <table>
    <tr>
      <td valign="top" width="60">2019</td>
      <td valign="top">
        (Upcoming) Corpus: Aesthetics After Biopolitics Art History Symposium - Tucson, AZ
        <br/>(Upcoming) Water Resources Research Center Seminar - Tucson, AZ
        <br/>(Upcoming) Exhibition video airing live on ESTE(+a)M Connect - San Diego, CA
      </td>
    </tr>
    <tr>
      <td valign="top">2018</td>
      <td valign="top">
        Speaker at the A2RU Arts Environments National Conference - Athens, GA 
        <br/>KXCI Interview, “Thesis Thursdays” - Tucson, AZ
        <br/>Navigating Your Path Toward an Interdisciplinary Career A2RU Webinar - Tucson AZ
        <br/>Speaker at A2RU Arts in the Public Sphere National Conference - Boston, MA
        <br/>Speaker at University of Arizona Superfund Research Program Professional Development - Tucson, AZ
        <br/>Speaker at the Pima County Environment Observatory Conference - Tucson, AZ
      </td>
    </tr>
    <tr>
      <td valign="top">2017</td>
      <td valign="top">
        Art/Design Coordinator for the Tucson Science March
        <br/>Art/Design Coordinator for the March for Our Lives - Tucson, AZ
        <br/>Infuse Coordinator for the School of Art - Tucson, AZ
        <br/>ENVS 415/515: Translating Environmental Science, Guest Lecture - Tucson, AZ
        <br/>ENVS 696P Seminar: Hazardous Waste Risk and Remediation in the US Southwest, Guest Lecture - Tucson, AZ
      </td>
    </tr>
  </table>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h4>Teaching Experience</h4>
  </div>
  <div class="col-6">
    <p>Instructor of Record, University of Arizona</p>
    <table>
    <tr>
      <td valign="top" width="60">2018</td>
      <td valign="top">
        ART 306B Intro to Animation
        <br/>ART 265 Intro to Graphic Design
      </td>
    </tr>
    <tr>
      <td valign="top">2017</td>
      <td valign="top">
        ART 462F Infographics
      </td>
    </tr>
  </table> 
  </div>
  <div class="col-6">
    <p>Graduate Teaching Assistant, University of Arizona</p>
    <table>
    <tr>
      <td valign="top" width="60">2017</td>
      <td valign="top">
        ART 306B Intro to Animation
      </td>
    </tr>
    <tr>
      <td valign="top">2016</td>
      <td valign="top">
        ART 265 Intro to Graphic Design
        <br/>FYE Foundations Course
      </td>
    </tr>
  </table>
  </div>
</div>
