<div class="detail sticky top-nav-container">
  <div class="container">
    <div class="top-nav">
      <h1 class="title">Dorsey Bromwell Kaufmann</h1>
      <div class="link-container">
        <a ui-sref="art" ng-class="{'active': stateName === 'art'}">Art</a>
        /
        <a ui-sref="social-practice" ng-class="{'active': stateName === 'social-practice'}">Social Practice</a>
        /
        <a ui-sref="bio" ng-class="{'active': stateName === 'bio'}">Bio</a>
      </div>
    </div>
  </div>
</div>

<div class="detail">
  <div class="container">
    <div class="side-nav sticky">
      <ul>
        <li ng-repeat="link in links">
          <a ui-sref=".({id: link.id})" ng-class="{'active': id === link.id}">
            {{link.name}}
          </a>
        </li>
      </ul>
    </div>

    <div class="main-content">
      <div ng-repeat="link in links" ng-if="id === link.id">
        <div ng-include="'templates/' + link.id + '.html'"></div>
      </div>
    </div>
  </div>
</div>