.detail {
  .title {
    letter-spacing: 4px;
    font-size: 30px;
  }
  .link-container {
    display: flex;
    justify-content: space-between;
    font-family: Franklin-Gothic-Book-Compressed;
    color: black;
    letter-spacing: 3px;
    font-size: 18px;
    text-transform: uppercase;
    width: 300px;
    margin-left: 80px;
  }
  .top-nav {
    display: flex;
    align-items: baseline;
    padding-top: 80px;
  }

  .side-nav {
    margin-top: 150px;
    min-width: 250px;
    max-width: 250px;
    ul {
      list-style: none;
      padding: 0;
    }
    a {
      font-size: 18px;
      line-height: 34px;
    }
  }

  // .content {
  //   color: blue;
  //   width: 300px;
  //   height: 400px;
  // }

  // .bottom-content {
  //   display: flex;
  // }

  .main-content {
    padding-top: 150px;
    margin-left: 250px;
  }

}

.sticky {
  background-color: white;
  position: fixed;
  width: 100%;
}

.top-nav-container {
  height: 150px;
  color: white;
}
