@font-face {
    font-family: Franklin-Gothic-Book-Compressed;
    src: url("../assets/fonts/ITCFranklinGothicStd-BkCp.otf") format("opentype");
}

@font-face {
    font-family: Franklin-Gothic-Demi-Compressed;
    src: url("../assets/fonts/ITCFranklinGothicStd-DmCp.otf") format("opentype");
}
