@font-face {
  font-family: Franklin-Gothic-Book-Compressed;
  src: url("../assets/fonts/ITCFranklinGothicStd-BkCp.otf") format("opentype"); }

@font-face {
  font-family: Franklin-Gothic-Demi-Compressed;
  src: url("../assets/fonts/ITCFranklinGothicStd-DmCp.otf") format("opentype"); }

h1, h2, h3 {
  font-family: Garamond;
  font-weight: 600;
  color: black; }

h4, h5, h6 {
  font-family: Franklin-Gothic-Demi-Compressed;
  color: black; }

a, p, tr, td {
  font-family: Franklin-Gothic-Book-Compressed;
  color: black;
  letter-spacing: 0.4px; }

span.emphasis {
  font-family: Garamond;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 2px; }

a.active {
  font-family: Franklin-Gothic-Demi-Compressed; }

a:hover {
  text-decoration: none;
  color: black; }

.cv h4 {
  font-size: 17px;
  letter-spacing: 2px;
  text-transform: uppercase; }

.cv tr, .cv td, .cv p {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 5px;
  letter-spacing: 0.2px; }

.cv table {
  margin-bottom: 20px; }
